<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DegreeClock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DegreeClock.Properties.LightWindowless" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="DegreeClock.Properties.DarkWindowlessTheme" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <DegreeClock.Properties.Settings>
            <setting name="LocationName" serializeAs="String">
                <value>New York, NY</value>
            </setting>
            <setting name="DayColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="NightColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="TimePassedColor" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="CurrentTimeLine" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="FormBackgroundColor" serializeAs="String">
                <value>Gainsboro</value>
            </setting>
            <setting name="TimeTextColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="TimeTextFont" serializeAs="String">
                <value>Courier New, 10.8pt, style=Bold</value>
            </setting>
            <setting name="DegreeNumbersColor" serializeAs="String">
                <value>165, 165, 165</value>
            </setting>
            <setting name="DegreeNumbersFont" serializeAs="String">
                <value>Tahoma, 7pt</value>
            </setting>
            <setting name="DegreeLinesColor" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="CurrentDegreeNumberColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ClockNumbersFont" serializeAs="String">
                <value>Tahoma, 7pt</value>
            </setting>
            <setting name="ClockNumbersColor" serializeAs="String">
                <value>RosyBrown</value>
            </setting>
            <setting name="ClockHoursColor" serializeAs="String">
                <value>RosyBrown</value>
            </setting>
            <setting name="ClockHoursFont" serializeAs="String">
                <value>Tahoma, 7pt, style=Bold</value>
            </setting>
            <setting name="NeedsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCurrentTimeMinutes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCurrentTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCurrentTimeLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCurrentTimeFill" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRegTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDegTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDegreeNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWordsDegTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWordsRegTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DegTimeLabelNotation" serializeAs="String">
                <value>DegTimeLong</value>
            </setting>
            <setting name="RegTimeLabelNotation" serializeAs="String">
                <value>RegTime24Long</value>
            </setting>
            <setting name="TitleBarNotation" serializeAs="String">
                <value>DegTimeShort</value>
            </setting>
            <setting name="ShowTimeInTitleBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDegreeLines" serializeAs="String">
                <value>True</value>
            </setting>            
            <setting name="HideWindowBorder" serializeAs="String">
                <value>False</value>
            </setting>
        </DegreeClock.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DegreeClock.Properties.LightWindowless>
            <setting name="DayColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="NightColor" serializeAs="String">
                <value>240, 240, 250</value>
            </setting>
            <setting name="TimePassedColor" serializeAs="String">
                <value>193, 193, 255</value>
            </setting>
            <setting name="CurrentTimeLine" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="FormBackgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TimeTextColor" serializeAs="String">
                <value>128, 128, 255</value>
            </setting>
            <setting name="TimeTextFont" serializeAs="String">
                <value>Courier New, 10.8pt, style=Bold</value>
            </setting>
            <setting name="DegreeNumbersColor" serializeAs="String">
                <value>64, 64, 128</value>
            </setting>
            <setting name="DegreeNumbersFont" serializeAs="String">
                <value>Tahoma, 7pt</value>
            </setting>
            <setting name="DegreeLinesColor" serializeAs="String">
                <value>128, 128, 192</value>
            </setting>
            <setting name="CurrentDegreeNumberColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ClockNumbersFont" serializeAs="String">
                <value>Tahoma, 7pt</value>
            </setting>
            <setting name="ClockNumbersColor" serializeAs="String">
                <value>RosyBrown</value>
            </setting>
            <setting name="ClockHoursColor" serializeAs="String">
                <value>128, 128, 192</value>
            </setting>
            <setting name="ClockHoursFont" serializeAs="String">
                <value>Tahoma, 7pt, style=Bold</value>
            </setting>
            <setting name="ShowCurrentTimeFill" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRegTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDegTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDegreeNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWordsDegTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowWordsRegTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DegTimeLabelNotation" serializeAs="String">
                <value>DegTimeLong</value>
            </setting>
            <setting name="RegTimeLabelNotation" serializeAs="String">
                <value>RegTime24Long</value>
            </setting>
            <setting name="TitleBarNotation" serializeAs="String">
                <value>DegTimeShort</value>
            </setting>
            <setting name="ShowTimeInTitleBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDegreeLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideWindowBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWindowBorder" serializeAs="String">
                <value>False</value>
            </setting>
        </DegreeClock.Properties.LightWindowless>
        <DegreeClock.Properties.DarkWindowlessTheme>
            <setting name="DayColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="NightColor" serializeAs="String">
                <value>36, 36, 36</value>
            </setting>
            <setting name="TimePassedColor" serializeAs="String">
                <value>193, 193, 255</value>
            </setting>
            <setting name="CurrentTimeLine" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="FormBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TimeTextColor" serializeAs="String">
                <value>128, 128, 255</value>
            </setting>
            <setting name="TimeTextFont" serializeAs="String">
                <value>Courier New, 10.8pt, style=Bold</value>
            </setting>
            <setting name="DegreeNumbersColor" serializeAs="String">
                <value>64, 64, 128</value>
            </setting>
            <setting name="DegreeNumbersFont" serializeAs="String">
                <value>Tahoma, 7pt</value>
            </setting>
            <setting name="DegreeLinesColor" serializeAs="String">
                <value>128, 128, 192</value>
            </setting>
            <setting name="CurrentDegreeNumberColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ClockNumbersFont" serializeAs="String">
                <value>Tahoma, 7pt</value>
            </setting>
            <setting name="ClockNumbersColor" serializeAs="String">
                <value>RosyBrown</value>
            </setting>
            <setting name="ClockHoursColor" serializeAs="String">
                <value>128, 128, 192</value>
            </setting>
            <setting name="ClockHoursFont" serializeAs="String">
                <value>Tahoma, 7pt, style=Bold</value>
            </setting>
            <setting name="ShowCurrentTimeFill" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRegTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDegTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDegreeNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWordsDegTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowWordsRegTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DegTimeLabelNotation" serializeAs="String">
                <value>DegTimeLong</value>
            </setting>
            <setting name="RegTimeLabelNotation" serializeAs="String">
                <value>RegTime24Long</value>
            </setting>
            <setting name="TitleBarNotation" serializeAs="String">
                <value>DegTimeShort</value>
            </setting>
            <setting name="ShowTimeInTitleBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDegreeLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideWindowBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWindowBorder" serializeAs="String">
                <value>False</value>
            </setting>
        </DegreeClock.Properties.DarkWindowlessTheme>
    </applicationSettings>
</configuration>
